:root{
  --font-heading: 'Raleway', sans-serif;;
}
.title{
  font-family: var(--font-heading);
  font-size: 1.8em;
  margin: 0;
}
.header{
  padding: 40px 20px;
  position: relative;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.header__menu{
  width: 10%;
}
.header__text{
  font-family: var(--font-heading);
}
/* Prueba de animacion y slider automático */
body{
  position: relative;
}
.list{
  list-style: none;
  padding: 0;
}
.list__item{
  position: relative;
  top: calc(0 - 181px);
}
.img{
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
  display: block;
}
.texto{
  position: absolute;
}
.list__item:nth-child(4){
  opacity: 1;
  animation-name: img1;
  animation-duration: 16s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  
}
.list__item:nth-child(3){
  opacity: 1;
  animation-name: img2;
  animation-duration: 16s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  bottom: 0;
}
.list__item:nth-child(2){
  opacity: 1;
  animation-name: img3;
  animation-duration: 16s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  top: 0px;
}
.list__item:nth-child(1){
  opacity: 1;
  animation-name: img4;
  animation-duration: 16s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes img1 {
  0% {opacity: 1;}
  25% {opacity: 0;}
  50% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes img2 {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes img3 {
  0% {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes img4 {
  0% {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 0;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes img1 {
  0% {opacity: 1;}
  25% {opacity: 0;}
  50% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}
