:root{
  --font-heading: 'Raleway', sans-serif;;
}
.title{
  font-family: var(--font-heading);
  font-size: 1.8em;
  margin: 0;
}
.header{
  padding: 40px 20px;
  position: relative;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.header__menu{
  width: 10%;
}
.header__text{
  font-family: var(--font-heading);
}
