:root{
  --font-heading: 'Raleway', sans-serif;;
}
.title{
  font-family: var(--font-heading);
  font-size: 1.6rem;
  margin: 0;
}
.header{
  margin-bottom: 100px;
}
.header-container{
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #fff;
  position: fixed;
  top: 0;
}
.header__menu{
  width: 10%;
}
.nav-activated{
  position: fixed;
  width: 100%;
  right: 0;
  height: calc(100vh - 58.5px);
  background: url(./assets/bg-pattern-mobile-nav.svg),linear-gradient(to right, #373b44, #4286f4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  top: calc(0 + 73.5px);
  transition: all 1s;
}
.nav-disabled{
  position: fixed;
  width: 20%;
  right: 150%;
  height: calc(100vh - 58.5px);
  background: url(./assets/bg-pattern-mobile-nav.svg),linear-gradient(to right, #373b44, #4286f4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  top: calc(0 + 73.5px);
  transition: all 1.5s;
}
.nav__menu{
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 1.2em;
  margin: 50px 0;
}
.menu__list{
  margin: 20px;
}
.list__link{
  text-decoration: none;
  color: #fff;
  margin: 50px 20px;
  height: 40px;
  padding: 8px 0;
  /* border: 1px solid #fff; */
  display: block;
  box-sizing: border-box;
}
.list__link:hover{
  outline: 1px solid #fff;
}
.header__text{
  font-family: var(--font-heading);
  padding: 0 20px;
  text-align: center;
}
.img{
  width: 100%;
  object-fit: contain;
  display: block;
  margin-top: 73.5px;
}
/* Main */
.subtitle{
  font-family: var(--font-heading);
  text-align: center;
  margin-bottom: 20px;
}
.article:nth-child(4){
  padding: 10px 10px;
}
.main__text{
  font-family: var(--font-heading);
  text-align: center;
  padding: 0 10px;
  line-height: 1.5em;
  margin-bottom: 80px;
}
.section{
  padding: 0 40px;
  margin-bottom: 80px;
}
.section__img{
  max-width: 20%;
  display: block;
  margin: auto;
}
.section__subtitle{
  font-family: var(--font-heading);
  text-align: center;
}
.section__text{
  font-family: var(--font-heading);
  text-align: center;
  line-height: 1.5em;
}
.map{
  max-width: 100%;
  max-height: 400px;
  padding: initial;
}
/* Footer */
.footer{
  background-color: hsl(240, 10%, 16%);
  margin: 0;
  padding: 40px;
}
.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.footer__subtitle{
  font-family: var(--font-heading);
  text-align: center;
  color: #fff;
}
.footer__text{
  font-family: var(--font-heading);
  text-align: center;
  font-size: .9em;
  color: #fff;
  margin: 20px 0;
}
.footer__icon{
  max-width: 20%;
}

/* Responsive 1440px */
@media (min-width: 1000px) {
  .title{
    font-size: 2.2em;
  }
  .header__menu{
    width: 5%;
  }
}